.container-base {
  @extend .container-clear;
}
.container-base:hover {
  transform: translateY(-6px);
  transition: transform 1s;
}
.container-base:active {
  transform: scale(0.97);
  transition: transform 0.1s;
}
.container-clear {
  transition: background 0.8s ease;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  //border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  padding: 1rem;
}
